.cart_quantity_up{
margin-right: 1px;	
margin-left: 1px;	
}

td{
border-bottom: 1px solid #281F1F;
border-top: 1px solid #281F1F;
text-align:center;
}

thead{
	font-family:arial;
	font-size: 17px;
}

tr{
	margin:20px;
	border-bottom: 2px solid #281F1F;
	border-top: 2px solid #281F1F;
}

table{
width:100%;
}


