.cart_quantity_up{
margin-right: 1px;	
margin-left: 1px;	
}


td{

border-bottom: 1px solid #281F1F;
text-align:left;
	
}
thead{
	font-family:arial;
	font-size: 18px;
	color:#281F1F;

	
}
tr{
	margin:20px;
	border-bottom: 1px solid #281F1F;
	border-top: 1px solid #281F1F;
}

table{
	border: 1px solid #281F1F;
	
	border-radius:5px;
}


