body{
	background-color: #FFFFFF;
	font-family: arial; 
	font-size: 12pt;
}

a {
	color: #40382D; 
	font-family: arial; 
}
a:hover {
	color: #40382D;	
}
a:active {
	color: #40382D; 	
}
a:visited {
color: #40382D;  
}

html{
	padding-top:20px;
	padding-bottom:20px;	
}

.btn  {
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	background: #FCF2BB;
	color: #40382D; 
	border:2px solid #40382D; 
	margin-bottom:-5px;
	
}
.btn:hover { 
	box-shadow: inset 0 -60px 0 #FCF2BB, 2px 2px 3px rgba(0,0,0,0.7);
	background: #FCF2BB;
	color: #40382D; 
	border:2px solid #40382D; 
	text-decoration: none;
} /* при наведении курсора мышки */
.btn:active { 
	box-shadow: inset 0 -60px 0 #FCF2BB, 2px 2px 3px rgba(0,0,0,0.7);
	background: #FCF2BB;
	color: #40382D; 
	border:2px solid #40382D; 
	text-decoration: none;
} /* при нажатии */

.butt-center{
	width:100%;
	display:flex;
justify-content:center;
	
}

#small{
	font-size: 12px;
	margin-left:10px;
	text-align:center;
	}
	
#com-btn{
	float:right;
	font-size: 12px;
	margin-top:5px;
	
}

.ref  { 
display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px; 
  margin-right: 10px ;
  margin-top: 15px ;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: arial;
  transition: 0.4s ease-in-out;
  color: #45A0A4;
  background: -o-linear-gradient(right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) bottom no-repeat;
  background: linear-gradient(to right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) bottom no-repeat;
  background-size: 70% 2px;
}
.ref:hover {
	background-size: 100% 5px;
	text-decoration: none;
}
.ref:active {
	background-size: 100% 5px;
	text-decoration: none;
}

a {
	color: #40382D; 
	font-family: arial; 
}

a:hover {
	color: #40382D; 
	text-decoration: none;
}
a:active {
	color: #40382D; 
text-decoration: none;	
}
a:visited {
color: #40382D;  
text-decoration: none;
}

.logging-in{
	margin-right:20px;
	margin-left:5px;
	
}

.navig-bar{
height:60px;
margin-left:70px;
text-align: center;
float: right;
}
.block{
margin-left:20px;
text-align: center;
float: right;
}
footer {
  
  margin-top:15px;
  padding-top:15px;
 /* background: -webkit-linear-gradient(right, red 0, red 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) top ;*/
  background: -o-linear-gradient(right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) bottom no-repeat;
  background: linear-gradient(to right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) top no-repeat; 
  background-size: 100% 2px;
text-align: center;  }

#wrap{
	min-height:85vh;
}
#logo
{
		margin:0px;
}
.panel > .panel-heading {
    background-color: #FCF2BB;  
}
.panel-title{
	
	font-size: 15pt;
	text-align: center;	
	Color:#281F1F;
}
.panel{
	border: 1px solid #281F1F;
}

.search{
        float: right;
		margin-top:20px;
}
.search input, .search button {
  outline: none;
  background: transparent;
}
.search input {
 
  padding-left: 15px;
  border: 2px solid #58554B;
  border-radius: 12px;
}
.search button {
  border:none;
  border-color: red; 
  cursor: pointer;
}
.search button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #58554B;
}
.search input:focus {
  border-color: #311c24
}

.good-ref-big{
border: 2px solid white;
padding: 3px;
margin-bottom:10px;
text-align:center;
font-size: 14px;
font-family: arial;

}

.good-ref-big:hover{
border: 2px solid #FCF2BB;
padding: 3px;
border-radius:3px;
}

.good-ref-small{
border: 2px solid white;
padding: 3px;
margin-bottom:10px;
text-align:center;
font-size: 14px;
font-family: arial;
height:260px;
	
}

.good-ref-small:hover{
border: 2px solid #FCF2BB;
padding: 3px;
border-radius:3px;
}


.descr-name{

	font-size: 12pt;
	color:#281F1F;
	
}

.descr-price{

	font-size: 12pt;
	color:#281F1F;
	
}

.breadcrumb{
	margin-top:10px;
	margin-bottom:20px;
	background-color:#FCF2BB ;
	font-family:arial
}


#email, #password, #name, #password-confirm{
	border: 1px solid #281F1F;
	
}
.form-horizontal{	
	margin-top:20px;
}
#filter{
	font-size:20px;
}

p{
	text-align:center;
	font-weight:bold;
	font-size:14px;	
}

.small-header-left{
	margin-bottom:-1px;
	text-align:left;
	font-size:15px;	
	float: left; /* Обтекание справа */ 
    width: 45%;
}
.small-header-right {
    text-align: right; 
	font-size:16px;	
	margin-bottom:-1px;
}
#weight-normal{
	font-weight:normal;
	margin-bottom:-1px;
}


.small-header-center{
	text-align:center;
	font-size:15px;		
	font-weight:bold;
	margin-bottom:-8px;
}

#for-cetegory{
	margin-bottom:1px;
	
}

.small-text{
	text-align:center;
	font-size:12px;		
	margin-top:10px;
	margin-bottom:10px;
}

#bigger{
	font-size:20px;		
	font-weight:normal;
}
.btn-group{
	display: flex;
	flex-direction: row;
	padding: 5px;	
}
textarea {
	resize: none;
	width:100%;
	border:1px solid #58554B;
	border-radius:2px;
}
.comments{
	margin-top:35px;	
}
.author{
	font-size:18px;	
	font-weight:bold;
}
.comment{
	margin-left:25px;	
}


.sale-line {
    display:inline-block;   
    position:relative;
	  /* Для Firefox */

 
}
.sale-line span {
    display:inline-block;
    position:absolute;
    top:20px;   
    left:120px;
     
    /* Оформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
     
    /* Фон */
    background-color:rgba(255, 0, 0, 0.9);
	border: 2px groove #ffffff;
    padding:5px 10px;
	
}

.row1{
	display: inline;
}

h3{
	text-align:center;
}

hr{
border-top: 1px solid #8c8b8b;
	
}