body{
	background-color: #FFFFFF;
	
	font-family: arial; 
	font-size: 12pt;
}


.smalcart{
    float:right;    
    height:55px;
    padding: 10px;
    padding-left: 15px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;  
    background: #E6DEEA;
}


html{
	padding-top:20px;
	padding-bottom:20px;
	
}

.btn  {
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	background: #40382D;
	color: #DECDA5; 
}
.btn:hover { 
	box-shadow: inset 0 -60px 0 #40382D, 2px 2px 3px rgba(0,0,0,0.7);
	color: #DECDA5; 
} /* при наведении курсора мышки */
.btn:active { 
	box-shadow: inset 0 -60px 0 #40382D, 2px 2px 3px rgba(0,0,0,0.7);
	color: #DECDA5; 
} /* при нажатии */

.ref  { 
display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px ;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s ease-in-out;
  color: #45A0A4;
  background: -webkit-linear-gradient(right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) bottom no-repeat;
  background: -o-linear-gradient(right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) bottom no-repeat;
  background: linear-gradient(to right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) bottom no-repeat;
  background-size: 70% 2px;
}
.ref:hover {
	background-size: 100% 7px;
	text-decoration: none;
}
.ref:active {
	background-size: 100% 7px;
	text-decoration: none;
}

a {
	color: #40382D; 
	margin-right: 20px;	
	margin-left: 3px;	
	font-family: arial; 
}

a:hover {
	color: #40382D; 
	
}
a:active {
	color: red; 
	
}
a:visited {
color: #40382D;  
}

.block{

/*background: #DECDA5;*/
height:60px;
margin-top:25px;
margin-left:20px;
text-align: center;
/*border: 1px solid #FAFAD2;*/
/*border-radius: 5px;*/
}
footer {
  
  margin-top:15px;
  padding-top:15px;
  background: -webkit-linear-gradient(right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) top ;
  background: -o-linear-gradient(right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) bottom no-repeat;
  background: linear-gradient(to right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) top no-repeat; 
  background-size: 100% 8px;
text-align: center;  }

#wrap{
	min-height:85vh;
}

.panel > .panel-heading {
    background-color: #F7B47E;  
}
.panel-title{
	font-size: 20pt;
	text-align: center;	
	Color:#281F1F;
}
.panel{
	border-color:#281F1F;
}
img{
	
	margin:10px;
}
p{
	text-align: center;	
	
}